/* General styles - start */

* {

    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    font-weight: 300;
    margin: 0;
    padding: 0;

}

/* General styles - end */

/*Navigiation styles - start*/

nav#main-nav {
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 999
}

#main-nav ul {
    width: 100%;
    list-style-type: none;
    background-color: #ffffff;
    margin: 0px;
    text-align: right;
    padding: 0;
}

#main-nav ul > li {
    display: inline-block;
    padding: 20px 40px;

}

#main-nav ul > li > a {
    text-decoration: none;
    color: #1ac056;
    font-weight: 300;


}

#main-nav ul > li > a:hover {
    color: #291f1a;
}

/*Navigiation styles - end*/

/*Header - start*/

#main-header {
    background-image: url("../img/header-background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

div.main-header-content {
    margin: 0;
    padding: 30vh;
    text-align: center;
}


#main-header .main-header-content > h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 5em;
    padding: 50px;
    color: white;
}

#main-header .main-header-content > h2 {
    color: white;
}

/*Header - end*/

/*O mnie - start*/

#about {
    background-color: #f9fcfe;
    overflow: hidden;
    padding: 0 80px 100px;
    text-align: center;
    border-bottom: 10px groove gainsboro;

}

#about > h2 {
    font-size: 30px;
    font-weight: 300;
    margin-top: 60px;
    margin-bottom 35px;
}

#about > figure {
    position: relative;
    max-width: 50%;
    border: 15px;
    border-style: solid;
    border-color: white;
    border-radius: 10%;
    float: left;
}

#about > figure > img {
    max-height: 350px;
    max-width: 100%;
}

#about > article {
    width: 50%;
    margin: 0;
    position: absolute;
    left: 50%;
}

/*O mnie - end*/

/* Umiejetnosci - start */

#skills > h2 {
    text-align: center;
}

#skills > p {
    text-align: center;
}

#skills #skills-icons > figure {
    display: inline-block;
    text-align: center;
}

/* Umiejetnosci - end */

/* Portfolio - start */

.portfolio-items{
    text-align: 0;
    font-size: 0;
}

.portfolio-item {
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    width: 33.3333%;
    position: relative;
}

.portfolio-items #portfolio-item-1{
    background-image: url("../img/portfolio1.jpg");
   }
.portfolio-items  #portfolio-item-2{
    background-image: url("../img/portfolio2.jpg");
}
.portfolio-items #portfolio-item-3{
    background-image: url("../img/portfolio3.jpg");
}

.


outline offset-1
/* Portfolio -end */

/* Kontakt - start */

#contact {
    background-color: #213b50;
    color: #fff;
    overflow: hidden;
}

#contact > h2 {
    text-align: left;
}

#contact > div {
    width: 50%;
    float: left;
}

#contact .contact-data > address {
    font-style: normal;
    line-height: 25px;
    margin: 72px 0;
}

#contact .contact-data > address > a {
    display: inline-block;
    height: 38px;
    width: 38px;
    margin-right: 30px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #fff;
    font-size: 22px;
    
}

#contact .contact-form {
    margin-top: 100px;
}

#contact .contact-form input,
#contact .contact-form textarea {
    width: 100%;
    padding 15px;
    margin-bottom: 15px;
    border: #2b4a64 0px;
    background-color: #2b4a64;
}


/* Kontakt - end */